<!-- <nb-card>
  <nb-card-header> Plans </nb-card-header>
  <nb-card-body>
    <button class="" (click)="getPendingPlans(); showPlans = true"> Get Pending Plans </button>
    <div *ngIf="showPlans">
      <div *ngFor="let displayPendingPlans of pendingPlans">
        {{ displayPendingPlans.email }}
        <button (click)="displayUserPlans(displayPendingPlans.email); displayPlans = true">Show Plan</button>

        <div *ngIf="displayPlans">
          <div *ngFor="let courses of userCourses">
            {{ courses.name }}
          </div>
        </div>
      </div>
    </div> -->




<nb-card>
  <nb-card-header> Plans </nb-card-header>
  <nb-card-body>
    <button (click)="plansService.getFilteredFac()">Filter</button>
    <table mat-table [dataSource]="plansService.pendingPlans">

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{plansService.pendingPlans[i].position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{plansService.pendingPlans[i].name}} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{plansService.pendingPlans[i].email}} </td>
      </ng-container>

      <!-- Faculty Column -->
      <ng-container matColumnDef="faculty">
        <th mat-header-cell *matHeaderCellDef> Faculty </th>
        <td mat-cell *matCellDef="let element; let i = index;">
          {{plansService.pendingPlans[i].faculty}}</td>
      </ng-container>

      <!-- Department Column -->
      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef> Department </th>
        <td mat-cell *matCellDef="let element; let i = index;">
          {{plansService.pendingPlans[i].department}}</td>
      </ng-container>


      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{plansService.pendingPlans[i].timestamp}} </td>
      </ng-container>


      <!-- Notes Column -->
      <ng-container matColumnDef="notes">
        <th mat-header-cell *matHeaderCellDef> Notes </th>
        <td mat-cell *matCellDef="let element"> <button>View notes </button></td>
      </ng-container>


      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit Plan</th>
        <td mat-cell *matCellDef="let element"> <button (click)="plansService.deleteExistingAdminPlan(authService.userDetails.email);plansService.copyUserPlanToAdmin(authService.userDetails.email, element.email);openUdegMain('http://www.udegree.co')">Edit</button> </td>
      </ng-container>


      <!-- Approve Column -->
      <ng-container matColumnDef="approve">
        <th mat-header-cell *matHeaderCellDef> Approve Plan</th>
        <td mat-cell *matCellDef="let element"> <button (click)="openDialog(element.email);plansService.deleteExistingAdminPlan(element.email);plansService.copyAdminToUserPlan(authService.userDetails.email, element.email)">Approve</button> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </nb-card-body>
</nb-card>